body {
  font-family: "https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap"
    rel= "stylesheet";
}
a {
  text-decoration: none;
  text-decoration-color: #2196f3;
}

/*link:focus {
  text-decoration-color: rgb(255, 0, 0);
}*/
