@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");
.web {
  font-family: Roboto;
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #2196f3;
}
.studio {
  font-family: Roboto;
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #000000;
}
.stu {
  font-family: Roboto;
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.link {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #212121;
}
.mailto {
  width: 135px;
  height: 16px;
  left: 1078px;
  top: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
}
.mailto:hover {
  text-decoration: underline #2196f3;
}
.tel1 {
  width: 110px;
  height: 16px;
  left: 1263px;
  top: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
}
.tel1:hover {
  text-decoration: underline #2196f3;
}
.link:hover {
  text-decoration: underline #2196f3;
  color: #2196f3;
}
body {
  color: #212121;
}
ul {
  list-style-type: none;
}

.button {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.03em;
  text-align: center;
}
.button:hover {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #ffffff;
  background-color: #2196f3;
}

a {
  text-decoration: none;
}
h3 {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #212121;
}
h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;

  color: #212121;
}
h3:hover {
  text-decoration: underline #2196f3;
}
h4 {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}
h4:hover {
  text-decoration: underline #2196f3;
}
.footer {
  background: #2f303a;
}
.adress {
  text-decoration: none;
  background: #2f303a;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.adress:hover {
  text-decoration: underline #2196f3;
}
.contact {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: rgba(255, 255, 255, 0.6);
}
.tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.tel:hover {
  text-decoration: underline #2196f3;
}
/*.pointer {
  cursor: pointer;
}*/
/*link:focus {
  text-decoration-color: rgb(255, 0, 0);
}*/
